<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/head :: head}"></head>

<body>
<header>
    <nav th:replace="~{fragments/navbar :: nav}"></nav>
</header>

<main>
    <h2>Articles</h2>

    <!-- Add New Article Button -->
    <div class="add-button-container" sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/articles/add}" class="btn btn-primary">➕ Add New Article</a>
    </div>

    <!-- Display errors or success. -->

    <div class="error-message" th:if="${error}" th:text="${error}"></div>
<!--    <div class="success-message" th:if="${success}" th:text="${success}"></div>-->
    <table class="table table-dark">
        <thead>
        <tr>
            <th scope="col">Article ID</th>
            <th scope="col">Article Number</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Factory Name</th>
            <th scope="col" sec:authorize="hasRole('ADMIN')">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="article : ${articles}">
            <th scope="row" th:text="${article.id}"></th>
            <td th:text="${article.number}"></td>
            <td th:text="${article.name}"></td>
            <td th:text="${article.description}"></td>
            <td th:text="${article.factory.name}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{/articles/modify/__${article.id}__}"><i>🖋</i> Modify</a>
            </td>
        </tr>
        </tbody>
    </table>

</main>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
